body {
    font-family: Arial, sans-serif;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSAwZYSXPIM3ziuw8NEdUV1OGv8Aj9FdpQog&usqp=CAU");
    background-size:cover;
   display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0; 
}
.container {
    min-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius:15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #333;
}

.input-container {
    display: flex;

   
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete {
    background-color: #ff4444;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit {
    background-color: #333;
    color: #fff;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit, .delete {
    margin-left:6px;
}
